<% if current_user.admin  %>
<ul class="day-list">
  <%= link_to "Add new day", new_day_path, class: "btn btn-primary" %>
  <% @days.sort_lastest_date.each do |day|  %>
    <li>
      <%#= day.datematch %>
      <%= link_to day.datematch, day, class: "btn btn-default" %>
    </li>

  <% end %>
</ul>



<h2><%= @day.datematch %></h2>
<ul>
  <% @day.todaymatch.each do |match| %>
  <li><%= User.find_by(id: match.first).email unless User.find_by(id: match.first).blank?  %> - <%= User.find_by(id: match.last).email unless User.find_by(id: match.first).blank?  %></li>
  <% end %>
</ul>

<%elsif @day.datematch <= Date.today %>
<ul class="day-list">

  <% @days.sort_lastest_date.each do |day|  %>
   <% if day.datematch <= Date.today %>
      <li>
        <%= link_to day.datematch, day, class: "btn btn-default" %>
      </li>
    <% end %>



  <% end %>
</ul>

<ul>
  <% @day.todaymatch.each do |match| %>
    <% if match.first.to_i == current_user.id || match.last.to_i == current_user.id %>
      <li><%= User.find_by(id: match.first).email unless User.find_by(id: match.first).blank? %> - <%= User.find_by(id: match.last).email unless User.find_by(id: match.first).blank? %></li>
    <% end %>
  <% end %>
</ul>
<% else %>
<h1>no acces</h1>
<%end%>
