<% if current_user.admin  %>
<ul class="day-list">
  <%= link_to "Add new day", new_day_path, class: "btn btn-primary" %>
  <% @days.sort_lastest_date.each do |day|  %>
    <li>
      <%#= day.datematch %>
      <%= link_to day.datematch, day, class: "btn btn-default" %>
    </li>



  <% end %>
</ul>

<h2><%= @day.todaymatch %></h2>

<h2><%= @day.datematch %></h2>
<ul>
  <% @day.todaymatch.each do |match| %>
  <li><%= User.find_by(id: match.first).email %> - <%= User.find_by(id: match.last).email %></li>
  <% end %>
</ul>

<%else%>
<h1>no acces</h1>
<%end%>
